body {
    font-family: 'Open sans', sans-serif;
}
p {
    font-family: 'Open sans', sans-serif;
}
h1,h2,h3,h4,h5,h6
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Open sans', sans-serif;

}
a {
    font-family: 'Open sans', sans-serif;
    color: var(--white);
    text-decoration: none;
}
h1 {
    font-size: 3.75rem;
    line-height: 4.75rem;
}
h2 {
    font-size: 1.75rem;
}
h3, 
.h3{
    font-size: 1.75rem;
}
h4 {

}

h5 {

}
h6 {

}
.col-left-title {
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
}
.col-right-title {
    color: var(--primary-color);
    font-weight: 700;
}
.col-left p {
    color: var(--white)
}
